name: Build and run examples for baremetal

on:
  push:
  schedule:
    - cron: "0 12 * * SAT"
  workflow_dispatch:

jobs:
  build-stm32f4:
    runs-on: [self-hosted, X64, build, docker]
    needs: []
    container:
      image: ${{ matrix.DOCKER_IMAGE }}
      options: --user root
    strategy:
      fail-fast: false
      matrix:
        include:
          - PRESET: baremetal-arm-debug
            DOCKER_IMAGE: kubasejdak/arm-none-eabi-gcc:13-24.04
          - PRESET: baremetal-arm-release
            DOCKER_IMAGE: kubasejdak/arm-none-eabi-gcc:13-24.04
          - PRESET: freertos-arm-debug
            DOCKER_IMAGE: kubasejdak/arm-none-eabi-gcc:13-24.04
          - PRESET: freertos-arm-release
            DOCKER_IMAGE: kubasejdak/arm-none-eabi-gcc:13-24.04
    steps:
      - uses: actions/checkout@v6

      - uses: kubasejdak-org/cmake-build-preset-action@main
        with:
          preset: ${{ matrix.PRESET }}

  examples-stm32f4:
    runs-on: [self-hosted, ARM64, stm32f4]
    needs: build-stm32f4
    strategy:
      fail-fast: false
      matrix:
        include:
          - APP: platform-package-info
            PRESET: baremetal-arm-debug
          - APP: platform-hello-world
            PRESET: baremetal-arm-debug
          - APP: platform-package-info
            PRESET: freertos-arm-debug
          - APP: platform-hello-world
            PRESET: freertos-arm-debug
    steps:
      - uses: kubasejdak-org/openocd-run-action@main
        with:
          binary: ${{ matrix.APP }}
          artifact: ${{ matrix.PRESET }}
          board: stm32f4discovery
          serial: /dev/ttyUSB0

  check-all-baremetal:
    runs-on: [self-hosted, build]
    needs:
      - build-stm32f4
      - examples-stm32f4
    steps:
      - run: echo "Success"
